{% extends 'base.html' %}

{% block content %}
<h1>{{ user.username }}님의 프로필</h1>
<p>{{ user.full_name }}</p>
<p>이메일:{{ user.email }}</p>
<div class="row">
  <div class="col-6">
    <h3>작성한 글</h3>
    <p class="text-muted">{{ user.article_set.count }}개를 작성하였습니다.</p>
    {% for article in user.article_set.all %}
    <p>
      {{ forloop.counter }}
      <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
    </p>
    {% endfor %}
  </div>
  <div class="col-6">
    <h3>작성한 댓글</h3>
    <p class="text-muted">{{ user.comment_set.count }}개를 작성하였습니다.</p>
    {% for comment in user.comment_set.all %}
    <p>
      {{ forloop.counter }}
      <a href="{% url 'articles:detail' comment.article_id %}">{{ comment.content }}</a>
    </p>
    {% endfor %}
  </div>
  {% if request.user == user %}
  <div>
    <a class="btn btn-primary me-3" href="{% url 'accounts:update' %}">수정하기</a>
    <a class="btn btn-outline-primary" href="{% url 'accounts:index' %}">회원목록</a>
  </div>
  {% else %}
  <div>
    <a class="btn btn-outline-primary" href="{% url 'accounts:index' %}">회원목록</a>
  </div>
</div>
{% endif %}
{% endblock content %}