<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <title>Document</title>
  <style>
    body,
    html {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: rgba(255, 114, 96, 1);
      background: linear-gradient(45deg,
          rgba(255, 114, 96, 1) 0%,
          rgba(255, 114, 96, 1) 14%,
          rgba(252, 210, 113, 1) 54%,
          rgba(252, 210, 113, 1) 61%,
          rgba(102, 176, 102, 1) 93%,
          rgba(96, 135, 134, 1) 100%);
    }
  </style>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Shark&Yeooness</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Pair1:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'Pair1:new' %}">리뷰작성</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" href="">리뷰보기</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                기능목록
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'Pair1:home' %}">Home</a></li>
                <li><a class="dropdown-item" href="{% url 'Pair1:new' %}">리뷰작성</a></li>
                <li><a class="dropdown-item" href="">리뷰내용</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav>

  </header>

  {% block content %}

  {% endblock %}
  <div class="row bg-black py-3 fixed-bottom">
    <footer class="text-center text-white col-12">copyright shark,yeooness</footer>
  </div>
</body>

</html>