{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container mt-5">
  <h1 class="fw-bold">{{ article.title }}</h1>
  <h5>작성자 : <a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user }}</a></h5>
  <div class="d-flex justify-content-between">
    <p>{{ article.created_at }}
      작성됨</p>
    <p class="me-5">{{ article.updated_at }}
      수정됨</p>
  </div>
  <div>
    {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
    {% endif %}
    <p class="me-5 mt-3">{{ article.content }}</p>
  </div>
  {% if request.user == article.user %}
  <div class="text-end me-5">
    <a class="btn btn-success" href="{% url 'articles:update' article.pk %}">
      수정
    </a>
    <a class="btn btn-danger" href="{% url 'articles:delete' article.pk %}">
      삭제
    </a>
  </div>
  {% endif %}
  <h4 class="my-3">댓글</h4>
  {% if comments %}
  <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% if request.user.is_authenticated %}
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form layout='inline'%}
    {% bootstrap_button button_type="submit" content="OK" %}
  </form>
  {% endif %}
  <hr>
  {% for comment in comments %}
  <p>{{ comment.user.username }} | {{ comment.content }}</p>
  <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_button button_type="submit" content="delete" %}
  </form>
  <hr>
  {% empty %}
  <p>댓글이 없습니다.</p>
  {% endfor %}
</div>

{% endblock %}