{% extends 'Pair1/base.html' %}

{% block content %}

<!-- 리뷰 목록 -->
<div class="container my-5">
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">리뷰 번호</th>
        <th scope="col">리뷰 제목</th>
        <th scope="col">작성 시간</th>
      </tr>
    </thead>
    <tbody>
      {% for i in c %}
      {% if i.pk >= 10 %}
      {% if i.pk|divisibleby:2 %}
      <tr class="table-success">
        <th scope="row">{{i.pk}}</th>
        <td><a href="{% url 'Pair1:detail' i.pk %}">{{i.title}}</a></td>
        <td>{{i.created_at |date:'Y-m-d'}}</td>
      </tr>
      {% elif not i.pk|divisibleby:2 %}
      <tr class="table-warning">
        <th scope="row">{{i.pk}}</th>
        <td><a href="{% url 'Pair1:detail' i.pk %}">{{i.title}}</a></td>
        <td>{{i.created_at |date:'Y-m-d'}}</td>
      </tr>
      {% endif %}
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>


{% endblock %}